.container{
    background-color: rgb(29, 26, 26);
    color: #ffffff;
    min-height: 100vh;
}

#finalScore {
    width: 100%;
    min-height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

form{
    display: flex;
    justify-content: center;
}

#username{
    width: 10%;
    min-height: 2rem;
}

.link {
    min-height: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 44%;
    margin-right: 44%;
    font-size: 1.25rem;
    
}

a{
    color: #ffffff;
}
