.highscore-container{
  width: 100vw;
  height: 100vh;
  background: #000;
}

.highscore-wrapper{
  max-width: 100rem;
  margin: auto ;
  padding: 10rem 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-crown{
  font-size: 10rem;
  animation: neon 2s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    color: #FED128;
  }
  50% {
    color: #806914;
  }
}

.high-title{

  text-transform: uppercase;
  padding: 1rem 0 2rem;
}

.score-place{
  width: 30rem;
  font-size: 2rem;
  margin-bottom: 3rem;
  list-style: none;
}

.place-name{
  width: 100%;
  padding: 2rem 0 1rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between; 
  border-bottom: 0.1rem solid var(--primary-green-clr);
} 

@media screen and (max-width: 420px){
  .highscore-wrapper{
    padding: 5rem 0 5rem;
  }
}