@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

:root {
  --primary-green-clr: #14d69a;
  --text-clr: #e6e6e6;
  --shadow: #152522;
  font-size: 62.5%;
}
  
*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-clr);
  background-color: #000;
}



h1 {
  font-size: 5.4rem;
}

h2 {
  font-size: 4rem;
  font-weight: 500;
}

h3{
  font-size: 3rem;
}


/* ========== Button Utilitis ========== */

.btn {
  display: block;
  width: 30rem;
  margin: 1rem;
  padding: 2rem 0;
  font-size: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: .4rem;
  border: 0.1rem solid var(--primary-green-clr);
  box-shadow: 2px 2px 10px var(--shadow), inset 2px 2px 5px var(--primary-green-clr);
  color: var(--text-clr);
  transition: 0.3s;
  outline: none;
}

.btn:hover {
  cursor: pointer;
  transition: transform 150ms;
  transform: scale(1.03);
}

/* ========== Logo ========== */

.logo-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 5rem;
}

.quik {
  font-family: neon;
  color: #FFF;
  font-size: 12rem;
  text-shadow: 0 0 3vw var(--primary-green-clr);
  animation: neon 2s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw var(--primary-green-clr), 0 0 3vw var(--primary-green-clr), 0 0 10vw var(--primary-green-clr), 0 0 10vw var(--primary-green-clr), 0 0 .4vw var(--primary-green-clr), .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw var(--shadow), 0 0 1.5vw var(--shadow), 0 0 5vw var(--shadow), 0 0 5vw var(--shadow), 0 0 .2vw var(--shadow), .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.quiz {
  font-family: neon;
  color: var(--primary-green-clr);
  font-size: 12rem;
  text-shadow: 0 0 3vw var(--primary-green-clr);;
}