@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.home-container{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000;
}

#home{
  max-width: 100rem;
  margin: 10rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ========== Home Logo ========== */

.logo-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 8rem;
}

.quik {
  font-family: neon;
  color: #FFF;
  font-size: 7vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw var(--primary-green-clr);
  animation: neon 2s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw var(--primary-green-clr), 0 0 3vw var(--primary-green-clr), 0 0 10vw var(--primary-green-clr), 0 0 10vw var(--primary-green-clr), 0 0 .4vw var(--primary-green-clr), .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw var(--shadow), 0 0 1.5vw var(--shadow), 0 0 5vw var(--shadow), 0 0 5vw var(--shadow), 0 0 .2vw var(--shadow), .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.quiz {
  font-family: neon;
  color: var(--primary-green-clr);
  font-size: 7vw;
  line-height: 5vw;
  text-shadow: 0 0 3vw var(--primary-green-clr);;
}

/* ========== Play Btn ========== */

.play-btn{
  position: relative;
  transition: 0.4s;
}

.play-btn:hover::before{
  content: "";
  position: absolute;
  top: 2.2rem;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  left: 100%;
  border-left: 5rem solid var(--primary-green-clr);
  transform: translate(100ms);
}

.play-btn:hover::after{
  content: "";
  position: absolute;
  top: 3.6rem;
  width: 100%;
  height: 0.2rem;
  left: 110%;
  background: linear-gradient(260deg, rgba(20,214,154,0) 57%, var(--primary-green-clr) 100%);
  transform: translate(100ms);
}

/* ========== Scores Btn ========== */

.scores-btn{
  position: relative;
  transition: 0.4s;
}

.scores-btn:hover::before{
  content: "";
  position: absolute;
  top: 2.2rem;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  right: 100%;
  border-right: 5rem solid var(--primary-green-clr);
  transform: translate(100ms);
}

.scores-btn:hover::after{
  content: "";
  position: absolute;
  top: 3.6rem;
  width: 100%;
  height: 0.2rem;
  right: 110%;
  background: linear-gradient(90deg, rgba(20,214,154,0) 57%, var(--primary-green-clr) 100%);
  transform: translate(100ms);
}

.fa-crown, .fa-play {
  padding-left: 0.9rem;
  font-size: 2.5rem;
}

/* ========== Dropdown ========== */

.dropdown{
  display: none;
  list-style: none;
  cursor: pointer;
}

.level-items{
  width: 30rem;
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
}

.easy-item{
  border-bottom: 0.1rem solid var(--primary-green-clr);
}

.medium-item{
  border-bottom: 0.1rem solid var(--primary-green-clr);
}

a{
  text-decoration: none;
  color: var(--text-clr);
}

.link-item:hover{
  text-shadow: 4px 4px 7px var(--primary-green-clr);
 
}
